@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Travel>
<div class="row travels">

    @foreach (var travel in Model)
    {
    <div class="travel col-md-4">
        <img class="img img-thumbnail" src="@travel.GetInlineImageSrc()" />
        <form id="travel" method="post" action="@Url.Action("Travel", "Home", new { id = travel.Id })">
            <h3><a href="#" onclick="document.getElementById('travel').submit()">@travel.Name</a></h3>
        </form>
        <p>@travel.Description</p>
        @if (User.Identity.IsAuthenticated)
        {
            @*<form id="edit" method="post" action="@Url.Action("Edit", "Home", new { id = travel.Id })">
                <h3><a href="#" onclick="document.getElementById('edit').submit()">@travel.Name</a></h3>
            </form>*@
            <a asp-action="Edit" asp-route-id="@travel.Id">Edit</a>
        }
    </div>}
    
</div>